appnope==0.1.0
asn1crypto==0.22.0
bleach==1.5.0
boto==2.48.0
brewer2mpl==1.4.1
bz2file==0.98
cffi==1.10.0
click==6.7
cryptography==1.9
cycler==0.10.0
deap==1.0.2
decorator==4.0.11
election2016==0.1
entrypoints==0.2.2
enum34==1.1.6
future==0.16.0
gensim==3.1.0
ggplot==0.11.5
h5py==2.7.1
html5lib==0.9999999
idna==2.5
inflection==0.3.1
ipykernel==4.6.1
ipython==6.0.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jedi==0.10.2
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
Keras==2.0.4
Markdown==2.6.9
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
more-itertools==3.2.0
nbconvert==5.1.1
nbformat==4.3.0
ndg-httpsclient==0.4.2
nltk==3.2.4
notebook==5.2.1
numpy==1.13.3
oauthlib==2.0.2
olefile==0.44
opencv-python==3.3.0.10
panda==0.3.1
pandas==0.20.1
pandas-datareader==0.5.0
pandocfilters==1.4.1
patsy==0.4.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.1.1
praw==5.2.0
prawcore==0.12.0
prompt-toolkit==1.0.14
protobuf==3.5.0
ptyprocess==0.5.1
pyasn1==0.2.3
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
Quandl==3.1.0
requests==2.14.2
requests-file==1.4.2
requests-ftp==0.3.1
requests-oauthlib==0.8.0
scikit-learn==0.18.1
scipy==0.19.0
selenium==3.4.3
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.5.3
SQLAlchemy==1.1.11
statsmodels==0.8.0
tensorflow==1.1.0
tensorflow-tensorboard==0.4.0rc3
terminado==0.6
testpath==0.3
Theano==0.9.0
tornado==4.5.1
TPOT==0.8.3
tqdm==4.14.0
traitlets==4.3.2
twython==3.5.0
update-checker==0.16
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.12.2
widgetsnbextension==2.0.0
